# Системные файлы Windows и macOS
.DS_Store
Thumbs.db

# VS Code / JetBrains IDE
.vscode/
.idea/

# Временные и резервные файлы
*.tmp
*.log
*.bak
~$*

# Python (если используется)
__pycache__/
*.pyc

# Сборки и выходные файлы
/public/
build/
dist/

# Документы Word, Excel и временные версии
~$*.docx
~$*.xlsx

# node_modules (если используешь npm в будущем)
node_modules/
